---
layout: default
---

<section class="section section--hero-video">
    <div class="section__container">
        <div class="hero-video">
            <div class="video-container">
                <iframe src="//player.vimeo.com/video/114707531?portrait=0&color=fff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class="section section--offer">
    <div class="section__container">
        <h2 class="section__title">The Offer</h2>
        <h1 class="offer__headline"><span class="offer__headline-break" data-js-glitch-hacktivism>One Million U.S.&nbsp;Dollars</span> <span class="thin">for Your</span> Body</h1>
        <div class="offer">
            <div class="offer__coffin">
                <img src="{{ "/media/img/coffin.svg" | prepend: site.baseurl }}" alt="CORP Industries" class="coffin">
            </div>
            <div class="offer__description">
                <p data-js-glitch-hacktivism>Get <b>$1,000,000</b> and <b>one year</b> to live the life you want.</p>
                <p data-js-glitch-hacktivism>After that one year your <b>brain</b> will be put to death.</p>
                <p data-js-glitch-hacktivism>We get to use your <b>body</b> to produce <b>sustainable energy.</b></p>
                <button type="button" class="offer__button" data-js-glitcher-on-click data-js-glitch-hacktivism>Sign up now!</button>
                <p data-js-glitch-hacktivism class="offer__disclaimer">The offer is non-refundable. For any further information about our offer see the <b>F.A.Q</b> and <b>Terms &amp; Conditions.</b></p>
            </div>
        </div>
    </div>
</section>

<section class="section section--faq">
    <div class="section__container">
        <h2 class="section__title"><span data-js-glitch>FAQ</span></h2>
        <div class="faq" data-js-grid>
            {% for faq in site.data.faq %}
            <div class="faq__item">
                <h3 class="faq__question" data-js-glitch-hacktivism>
                    <b>{{ faq.question }}</b>
                </h3>
                <p class="faq__answer" data-js-glitch-hacktivism>{{ faq.answer }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="section section--signup">
    <div class="section__container">
        <h2 class="section__title"><span>Get Your Reward</span></h2>
        <div class="signup" data-js-grid>
                        <button type="button" class="signup__button" data-js-glitcher-on-click data-js-glitch-hacktivism>See the Rewards</button>
        </div>
    </div>
</section>

<section class="section section--about">
    <div class="section__container">
        <h2 class="section__title"><span data-js-glitch>About Us</span></h2>
        <div class="about">
             <div class="about__description" >
                <p data-js-glitch-hacktivism>Since the foundation of CORP Industries in 2008, our goal has always been to revolutionize humanity and its society. Where it took the human race millennia to learn the upright-walk <em>(homo erectus)</em>, CORP Industries has managed to achieve such an evolutionary milestone in just a few years.</p>

                <blockquote class="about__quote"><span class="about__quote-break" data-js-glitch-hacktivism><b>Sustainability</b> has <b>always</b> been<br> a present issue in <b>our society.</b></span></blockquote>

                <p data-js-glitch-hacktivism>Great companies have wasted thousands of hours in research for new energy-sources, whereas the optimal energy-source has always been with us - us.</p>

                <p data-js-glitch-hacktivism>The human body produces around 100 Watts of power during one day. Thanks to our innovative bio-amplifiers, which were developed in close partnership with the <em>National Research Center for Clean Energy of the U.S</em>,  we are able to get at least 220 Watts out of an average human body.</p>

                 <blockquote class="about__quote"><span class="about__quote-break" data-js-glitch-hacktivism><b>We believe</b> in a <b>sustainable humanity!</b></span></blockquote>

                <p data-js-glitch-hacktivism>While our procedures are generally harmless, the process of harvesting body-energy can be extremely painful. Therefore we make sure that every subject which is connected to the power-grid is absolutely brain-dead.</p>


            </div>
        </div>
    </div>
</section>

<section class="section section--signup">
    <div class="section__container">
        <h2 class="section__title"><span>Sign Up Today</span></h2>
        <div class="signup" data-js-grid>
                        <button type="button" class="signup__button" data-js-glitcher-on-click data-js-glitch-hacktivism>Sign up now!</button>
        </div>
    </div>
</section>

<section class="section section--testimonials">
    <div class="section__container">
        <h2 class="section__title"><span data-js-glitch>Testimonials</span></h2>
        <div class="testimonials" data-js-grid>
            {% for testimonials in site.data.testimonials %}
            <div class="testimonials__item">
                <div class="testimonials__image circular" style="background-image:url({{ testimonials.image | prepend: site.baseurl }})">
                    <img src="{{ testimonials.image | prepend: site.baseurl }}" alt="{{ testimonials.name }}" class="circular__image"/>
                </div>
                <h3 class="testimonials__name">
                    <b data-js-glitch-hacktivism>{{ testimonials.name }}</b>
                </h3>
                <span class="testimonials__position"><span data-js-glitch-hacktivism>{{ testimonials.position }}</span></span>
                <p class="testimonials__quote"><span data-js-glitch-hacktivism>“{{ testimonials.quote }}”</span></p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="section section--signup">
    <div class="section__container">
        <h2 class="section__title"><span>Details</span></h2>
        <div class="signup" data-js-grid>
                        <button type="button" class="signup__button" data-js-glitcher-on-click data-js-glitch-hacktivism>More Information</button>
        </div>
    </div>
</section>