<section class="hacktivism-video">
    <div class="video-container">
        <iframe src="//player.vimeo.com/video/114913588?portrait=0&color=fff&api=1&player_id=hacktivism" id="hacktivism" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</section>
<div class="hacktivism-bg"></div>
<div class="hacktivism-message"><span>CORP Industries IS A LIE !!</span></div>
<div class="hacktivism-message hacktivism-message--bottom"><span>CORP Industries HACKED and EXPOSED!</span></div>