<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div id="glitch-wrapper">
    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}
</div>
<section class="hacktivism-video">
    <div class="video-container">
        <iframe src="//player.vimeo.com/video/114707531?portrait=0&color=fff&api=1&player_id=hacktivism" id="hacktivism" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</section>
<div class="hacktivism-bg"></div>
<div class="hacktivism-message">CORP Industries IS A LIE !!</div>
<div class="hacktivism-message hacktivism-message--bottom">CORP Industries IS A LIE !!</div>
{% include foot.html %}

</body>

</html>
